#chart1 svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
		color: black;
}

body {
	background: white;
}

#option {
	margin: 60px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

div.tooltip {
    position: absolute;
    background: black;
    pointer-events: none;
}

.container {
	margin: 0;
	padding: 0;
}
